@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        *{
            font-family: 'Lato', Arial, sans-serif;
            color:#080808;
        }
        html{
            background: linear-gradient(130deg, #FF5733, #d45f16);
        }
        
        h1{
            font-size: 40px;
        }
        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 15px;
            flex-direction: column;
        }
        .socialnetworks-inline i{
            font-size: 30px;
        }
        .socialnetworks-inline{ flex-direction: row; }
        .socialnetworks-inline > *{
            padding-right: 15px;
        }
        .socialnetworks a{
            padding: 20px 40px;
            margin-bottom: 15px;
            width: 250px;
            background-color: #c70039;
            border:1px solid #ffffff;
            border-radius: 30px;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
            font-weight: 800;
        }
        .socialnetworks a:nth-child(even){ color:#ffffff; }
        .socialnetworks a:nth-child(odd){ color:#FFC30F; }
        .socialnetworks a:hover{
            background: transparent;
            transition: all .3s;
            cursor: pointer;
            color:#fff;
        }
        h1, h2{
            text-align: center;
        }
        .social-media-icon i{
            color: #ffffff;
        }
        @media (max-width: 640px){
            .socialnetworks-inline{ 
                display: inline-block;
            }
        }